<?xml version="1.0" encoding="utf-8"?><config>	<fieldset name="component" label="COM_MYQUESTIONS_FIELDSETCONFIG_LABEL" description="COM_MYQUESTIONS_FIELDSETCONFIG_LABEL_DESC">		<field name="email_admin" type="text" label="COM_MYQUESTIONS_FIELD_EMAILADMIN_LABEL"			description="COM_MYQUESTIONS_FIELD_EMAILADMIN_LABEL_DESC" default="admin@mysite.ru" />		<field name="email_expert" type="text" label="COM_MYQUESTIONS_FIELD_EMAILEXPERT_LABEL"			description="COM_MYQUESTIONS_FIELD_EMAILEXPERT_LABEL_DESC" default="expert@mysite.ru" />		<field name="is_direct_email_expert" type="checkbox" label="COM_MYQUESTIONS_FIELD_IS DIRECTEMAILEXPERT_LABEL"			description="COM_MYQUESTIONS_FIELD_ISDIRECTEMAILEXPERT_LABEL_DESC" default="1" value="1" />	</fieldset></config>